@model byte[]

<!DOCTYPE html>
<html>
<head>
    <title>Google Drive Image</title>
</head>
<body>
    <h1>Зображення з Google Drive</h1>
    @if (Model != null && Model.Length > 0)
    {
        <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model)" alt="Google Drive Image" />
    }
    else
    {
        <p>Зображення не знайдено.</p>
    }
</body>
</html>
