@model RoadEventsProject.Models.EventModel
<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }
        /* Стилі для лівої (чорної) колонки */
        .left-column {
            margin:0;
            float: left;
            width: 20%;
            height: 95vh; /* 100% висоти вікна браузера */
            background-color: black;
            color: white;
        }

        /* Стилі для правої (синьої) колонки */
        .right-column {
            margin: 0;
            float: left;
            width: 60%;
            height: 95vh;
            color: black;
        }

        /* Заголовок */
        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        /* Роздільник між елементами */
        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        /* Очистка float для правильного вирівнювання */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }
        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align:left;
        }

        .square {
            background-color: #9aa0a6;
            display: inline-block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
        }

            .square h1 {
                color: white;
                margin: 0;
            }

        .button-container {
            height: 50px;
            width: 100px;
        }

        .custom-button {
            background-color: #071952;
            color: white;
            font-size: 16px;
        }

        .squareBlock {
            background-color: rgb(65,105,225,0.3);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
        }

        .text-blue {
            color: white;
            text-shadow: 2px 2px 2px black, 0 2px 2px black, -2px 0 2px black, 0 -2px 2px black; /* Встановлює білу обводку тексту */
        }

        .squareBlockText {
            background-color: rgba(65, 105, 225, 0.3);
            display: block;
            padding: 10px;
            margin: 0;
            border-radius: 15px;
            backdrop-filter: blur(10px);
            width: 80%;
        }

        .text-border {
            font-size: 14px;
            color: white;
            text-shadow: 1px 1px 1px black, 0 1px 1px black, -1px 0 1px black, 0 -1px 1px black; 
        }
    </style>
</head>
<body style="background: url('/images/16.jpg');background-size: 100% 100%;">
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p style="color:black">Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyProfile" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="FillInApplication" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyApplication" class="aspforms btn">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>

    <div class="right-column" style="margin-left:50px">
        <div class="squareBlockText" style=" margin-top:5%; width: 100%; ">
            <div class="text-center" style="margin-top:10px">
                <div>
                    <h1 class="content_style text-blue">Заповніть заяву:</h1>
                </div>
            </div>
        </div>
        <div class="squareBlock" style=" margin-left:28%; margin-top:3%; width:45%">

            <form asp-action="FillInApplication" method="post" enctype="multipart/form-data" class="text-border">

            <div class="form-group">
                <label for="Photo">Фото:</label>
                <input type="file" id="Photo" name="Photo" class="form-control" accept="image/*">
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Video">Відео:</label>
                <input type="file" id="Video" name="Video" class="form-control" accept="video/*">
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="DescriptionEvent">Опис:</label>
                <textarea id="DescriptionEvent" name="DescriptionEvent" class="form-control" rows="3"></textarea>
                <span asp-validation-for="DescriptionEvent" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdRegion">Область:</label>
                    <select id="IdRegion" name="IdRegion" class="form-control">
                    <option value="">Виберіть область</option>
                    @foreach (var region in ViewBag.Regions)
                    {
                        <option value="@region.IdRegion">@region.NameRegion</option>
                    }
                </select>
                <span asp-validation-for="IdRegion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="IdCityVillage">Місто/Село:</label>
                <select id="IdCityVillage" name="IdCityVillage" class="form-control" disabled>
                    <option value="">Виберіть місто або село</option>
                </select>
                <span asp-validation-for="IdCityVillage" class="text-danger"></span>
            </div>

            <div class="form-group">
                 <label for="DateEvent">Дата та час події:</label>
                 <input type="datetime-local" asp-for="DateEvent" id="DateEvent" name="DateEvent" class="form-control">
                 <span asp-validation-for="DateEvent" class="text-danger"></span>
            </div>
            <p style="margin-top:5px">*обов'язково завантажте або відео, або фото (або два варіанти одразу)'</p>
            <button type="submit" class="btn btn-primary" style="text-align:center; margin-top:10px">Надіслати заяву</button>
                <div asp-validation-summary="All" class="text-danger"></div>
        </form>
            
        </div>
        @if (TempData.ContainsKey("SuccessMessage"))
        {
            <div class="alert alert-success" style="text-align:center">
                @TempData["SuccessMessage"]
            </div>
        }
    </div>
    <div class="clearfix"></div>
</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#IdRegion").change(function () {
                var regionId = $(this).val();
                if (regionId) {
                    $.ajax({
                        url: '/Profile/GetCitiesVillages',
                        data: { regionId: regionId },
                        type: 'GET',
                        success: function (data) {
                            $("#IdCityVillage").prop('disabled', false);
                            $("#IdCityVillage").empty();
                            $("#IdCityVillage").append('<option value="">Select City or Village</option>');
                            $.each(data, function (index, item) {
                                $("#IdCityVillage").append('<option value="' + item.idCityVillage + '">' + item.nameCityVillage + '</option>');
                            });
                        }
                    });
                } else {
                    $("#IdCityVillage").prop('disabled', true);
                    $("#IdCityVillage").empty();
                    $("#IdCityVillage").append('<option value="">Select City or Village</option>');
                }
            });
        });

    </script>
}

