@model RoadEventsProject.Models.LoginUserModel

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
        }
        /* Стилі для лівої (чорної) колонки */
        .left-column {
            margin: 0;
            float: left;
            width: 20%;
            height: 95vh; /* 100% висоти вікна браузера */
            background-color: black;
            color: white;
        }

        /* Стилі для правої (синьої) колонки */
        .right-column {
            margin: 0;
            float: left;
            width: 60%;
            height: 95vh;
            background-color: white;
            color: black;
        }

        /* Заголовок */
        .column-title {
            font-size: 24px;
            font-weight: bold;
        }

        /* Роздільник між елементами */
        .divider {
            height: 0.5px;
            width: 80%;
            background-color: white;
            margin: 15px;
        }

        /* Очистка float для правильного вирівнювання */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .btn {
            display: block;
            margin-bottom: 2px;
            margin-left: 2px;
        }

        .aspforms {
            font-size: 16px;
            font-weight: bold;
            color: #919191;
            text-align: left;
        }
    </style>
</head>
<body>
    <div class="left-column">
        <div style="padding-left:25px; font-size:24px; color:white; font-weight:bold; margin-top:30px;">
            <p>Заголовок</p>
        </div>

        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MainView" class="btn aspforms">ГОЛОВНА</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyProfile" class="btn aspforms">МІЙ ПРОФІЛЬ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="FillInApplication" class="aspforms btn">ЗАПОВНИТИ ЗАЯВКУ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Profile" asp-action="MyApplication" class="aspforms btn">ВСІ ЗАЯВИ</a>
        <div class="divider"></div>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="aspforms btn">ВИХІД</a>
    </div>

    <div class="right-column">
        <p>fghjkgggggg</p>
    </div>

    <div class="clearfix"></div>
</body>
</html>
