@model RoadEventsProject.Models.Data.UserInfo

<div style="width: 100%; text-align: center;">
    <h2>User Information</h2>
    <p>Name: @Model.IdNameNavigation.LastName</p>
    <p>Email: @Model.LoginUser</p>
    <!-- Add other user information here -->
</div>
