
<h1>Панель управління</h1>

<div>
    <a asp-action="Admin" class="btn btn-primary">Перегляд всіх заяв</a>
    <a asp-action="ApplicationForm" class="btn btn-success">Заповнити заявку</a>
    <form asp-action="Logout" method="post" class="d-inline">
        <button type="submit" class="btn btn-danger">Вихід</button>
    </form>
</div>
